body {
  margin: 0px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #F4F6F5;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}